{include file="common/blank" /}
<![endif]-->
<title>订单管理 - 初创网络</title>
<style>
    .list_order{
        height: 24px!important;
        line-height: 24px!important;
        border: #FC6 solid 1px!important;
    }
</style>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    首页 <span class="c-gray en">&gt;</span>
    订单管理 <span class="c-gray en">&gt;</span>
    订单列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
    <i class="Hui-iconfont">&#xe68f;</i>
</a>
</nav>
<div class="page-container">
    <div class="text-c">
        日期范围：
        <input type="text" id="logmin" name="logmin" class="input-text Wdate" style="width:120px;" readonly="">
        -
        <input type="text" id="logmax" name="logmax" class="input-text Wdate" style="width:120px;" readonly="">
        <input type="text" class="input-text" style="width:250px" placeholder="输入商户ID，订单号" id="keyword" name="keyword">
        <button type="button" class="btn btn-success radius" id="search" name="search"><i class="Hui-iconfont">&#xe665;</i> 搜订单</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" id="order" class="btn btn-warning radius"><i class="Hui-iconfont">&#xe6e0;
        </i> 待审核订单</a>

        </span>
    </div>
    <div class="mt-20">
        <table class="layui-table" id="list" lay-filter="list"></table>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="common/footer" /}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<link href="/static/lib/layui/css/layui.css" rel="stylesheet">
<script type="text/javascript" src="/static/lib/layui/layui.js"></script>
<script type="text/html" id="action">
	<a href="javascript:;" onclick="cc_edit('订单详情','{:url("admin/orders/info")}?oid={{d.id}}','4','800','510')" class="btn btn-primary size-MINI radius">详情</a>
    {{# if(d.status == 2){ }}
    <a class="btn btn-primary size-MINI radius" lay-event="pass">通过</a>
    <a class="btn btn-warning size-MINI radius" lay-event="offpass">驳回</a>
    {{# } }}
    <a class="btn btn-warning size-MINI radius" lay-event="del">删除</a>
</script>
<script>
    layui.use(['table','form','laydate'], function() {
        var table = layui.table,form = layui.form,$ = layui.jquery, laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#logmin'
            ,type: 'date'
            ,done: function(value, date, startDate){
            }
        });
        laydate.render({
            elem: '#logmax'
            ,type: 'date'
            ,done: function(value, date, endDate){
            }
        });
        var tableIn = table.render({
            id: 'product',
            elem: '#list',
            url: '{:url("index")}',
            method: 'post',
            cellMinWidth: 80,
            totalRow: true,
            page:true,
            cols: [[
                {field: 'id', title: '序号', width: 80, fixed: true},
                {field: 'tid', title: '任务ID', width:100 , align: 'center'},
                {field: 'tname', title: '任务名称', align: 'center'},
                {field: 'uid', title: '商户ID', align: 'center'},
                {field: 'jid', title: '接单人ID', align: 'center'},
                {field: 'money', align: 'center', width:150 ,title: '任务佣金', totalRow: true},
                {field: 'invite', align: 'center', width:150 ,title: '邀请人ID'},
                {field: 'invite_money', align: 'center', width:150, title: '邀请人佣金', totalRow: true},
                {field: 'ctime', align: 'center', width:200 ,title: '接单时间'},
                {field: 'jtime', align: 'center', width:200 ,title: '交单时间'},
                {field: 'status', align: 'center', width:150, title: '状态',templet: function(d){
                        if (d.status=="3"){
                            return '<span class="layui-btn layui-btn-xs layui-btn-danger" lay-event="bd">不合格</span>';
                        }else if (d.status=="0"){
                            return '<span class="layui-btn layui-btn-xs layui-btn-normal">任务完成</span>';
                        }else if (d.status=="1"){
                            return '<span class="layui-btn layui-btn-xs">任务中</span>';
                        }else{
                            return '<span class="layui-btn layui-btn-xs layui-btn-warm">待审核</span>';
                        }
                    }},
                {width: 200, align: 'center', toolbar: '#action'}
            ]],
            limit:90
        });
        //搜索
        $('#search').on('click', function () {
            var keyword = $('#keyword').val();
            var logmin = $('#logmin').val();
            var logmax = $('#logmax').val();

            tableIn.reload({ page: {page: 1}, where: {keyword: keyword,logmin:logmin,logmax:logmax}});
        });
        $('#order').on('click', function () {

            tableIn.reload({ page: {page: 1}, where: {status:2}});
        });
        table.on('tool(list)', function(obj) {
            var data = obj.data;
            if (obj.event === 'del'){
                var type = 'task_order';
                layer.confirm('您确定要删除该订单吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('admin/system/del')}",{id:data.id,type:type},function(res){
                        layer.close(loading);
                        if(res.code == 0){
                            layer.msg(res.msg,{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg('操作失败！',{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }else if (obj.event === 'pass'){
                layer.confirm('您确定要通过该订单吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('admin/orders/updateOrderStatus')}",{id:data.id,status:0},function(res){
                        layer.close(loading);
                        if(res.code == 0){
                            layer.msg(res.msg,{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg('操作失败！',{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }else if (obj.event === 'offpass'){
                layer.confirm('您确定要驳回该订单吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('admin/orders/updateOrderStatus')}",{id:data.id,status:2},function(res){
                        layer.close(loading);
                        if(res.code == 0){
                            layer.msg(res.msg,{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg('操作失败！',{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }
        });
    })
    function deloffall(mode) {
        layer.confirm('您确定要删除所有已超时订单吗？', function(index){
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post("{:url('admin/system/del')}",{type:'pay_order',mode:mode,where:'state',status:-1},function(res){
                layer.close(loading);
                if(res.code>0){
                    layer.msg(res.msg,{time:1000,icon:1});
                    location.reload();
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            });
            layer.close(index);
        });
    }
    /*产品-编辑*/
    function cc_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
</script>
</body>
</html>