<include file="common/header"/>
<title>{:sysconf('site_title')}</title>
</head>
<body>
<header class="m-navbar indexbar no-bar navbar-fixed">
    <img src="__STATIC__/home/img/zq-icon.png">
    <form action="{:url('/search')}" id="soform">
        <i class="Hui-iconfont Hui-iconfont-search2"></i>
        <input type="text" id="keyword" name="keyword" placeholder="任务标题，编号">
    </form>
</header>
<div class="top1" style="padding-top:.3rem;"></div>
<div class="m-slider" id="J_Slider">
    <div class="slider-wrapper">
        <volist name="banner" id="vb">
            <div class="slider-item">
                <a href="{$vb.url}">
                    <img src="{$vb.banner}">
                </a>
            </div>
        </volist>
    </div>
    <div class="slider-pagination"></div><!-- 分页标识 -->
</div>
<div class="index-body task-content">
    <h3 style="padding-left:.2rem;">为您推荐</h3>
    <ul>
        <volist name="task" id="vt">
            <li>
                <a href="{:url('/detail/' . $vt.id)}">
                    <img src="{$vt.logo == '' ? $vt.avatar : $vt.logo}">
                    <div class="content-top">
                        <div class="left">
                            <h3>{$vt.title}</h3>
                            <foreach name="$vt.icon" id="icon">
                                <img src="__STATIC__/home/img/{$icon}.png" class="{$icon}">
                            </foreach>
                        </div>
                        <em>+{$vt.price}元</em>
                    </div>
                    <div class="content-foot">
                        <span>{$vt.tname}</span>
                        <span>{$vt.name}</span>
                        <em>{$vt.passnum}人已完成|剩余数{$vt.number - $vt.jnum}</em>
                    </div>
                </a>
            </li>
        </volist>
    </ul>
</div>
<div class="more_gn">—— 更多精彩，敬请期待！ ——</div>
<include file="common/footer"/>
<script>
    $('#J_Slider').slider({
        speed: 200,
        autoplay: 2000,
        lazyLoad: true
    });
</script>
</body>
</html>