<include file="common/header"/>
<title>{:sysconf('site_title')}</title>
</head>
<body style="background: #F5F5F5;">
<header class="m-navbar message-bar no-bar navbar-fixed">
    <a onclick="history.back(-1)" class="navbar-item">
        <i class="back-ico"></i>
    </a>
    <div class="navbar-center">
        <span class="navbar-title">{$title}</span>
    </div>
</header>
<div class="video-body">
    <video muted="" autoplay=""  playsinline="" preload="auto" src="__STATIC__/video-bg.mp4"></video>
</div>
<div class="more_gn">—— 更多精彩，敬请期待！ ——</div>
<include file="common/footer"/>
</body>
</html>