<include file="common/header"/>
<title>{:sysconf('site_title')}</title>
</head>
<body style="background: #ff8236;">
<header class="m-navbar message-bar no-bar navbar-fixed">
    <a onclick="history.back(-1)" class="navbar-item">
        <i class="back-ico"></i>
    </a>
    <div class="navbar-center">
        <span class="navbar-title">{$title}</span>
    </div>
</header>
<div style="margin-top:1rem;"></div>
<div class="invite-ph">
    <h3>好友列表</h3>
    <table>
        <thead>
        <tr>
            <td>用户</td>
            <td>总收入</td>
            <td>注册时间</td>
        </tr>
        </thead>
        <tbody>
        <volist name="users" id="vo">
            <tr>
                <td>
                    uid:{$vo.id}
                </td>
                <td class="reward">{$vo.sum}</td>
                <td class="rewards">{$vo.add_time|date="Y-m-d",###}</td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
<div class="more_gn">—— 更多精彩，敬请期待！ ——</div>
<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script src="__STATIC__/lib/ydui/js/ydui.flexible.js"></script>
<script type="text/javascript" src="__STATIC__/lib/ydui/js/ydui.js"></script>
<script type="text/javascript" src="__STATIC__/home/js/clipboard.min.js"></script>

</body>
</html>