<include file="common/header"/>
<title>{:sysconf('site_title')}</title>
</head>
<body style="background: #ff8236;">
<header class="m-navbar message-bar no-bar navbar-fixed">
    <a onclick="history.back(-1)" class="navbar-item">
        <i class="back-ico"></i>
    </a>
    <div class="navbar-center">
        <span class="navbar-title">{$title}</span>
    </div>
</header>
<div class="invite-top">
    <div class="invite-body">
        <h3>邀请好友 推广奖励</h3>
        <h4>好友注册成功，您可获得{:sysconf('user_invite_give') + sysconf('user_invite_money')}元奖励</h4>
        <div class="invite-content">
            <p>每邀请一名好友，奖励{:sysconf('user_invite_give')}元。</p>
            <p>好友完成{:sysconf('user_invite_num')}个任务,佣金超过{:sysconf('user_invite_sum')}元,奖励{:sysconf('user_invite_money')}元。</p>
        </div>
    </div>
    <div class="invite-btn">立即邀请好友</div>
</div>
<div class="invite-count">
    <h3>我的邀请</h3>
    <ul>
        <li>
            <a href="{:url('/user/invites')}">
                <span>{$count_user}</span>
                <p>邀请人数(人)</p>
            </a>
        </li>
        <li>
            <span>{$count_order}</span>
            <p>任务数(个)</p>
        </li>
        <li>
            <span>{$count_sum}</span>
            <p>邀请奖励(元)</p>
        </li>
    </ul>
</div>
<div class="invite-ph">
    <h3>邀请排行</h3>
    <table>
        <thead>
        <tr>
            <td>用户</td>
            <td>总收入</td>
            <td>奖励</td>
        </tr>
        </thead>
        <tbody>
        <volist name="users" id="vo">
            <tr>
                <td>
                    <span>{$i}</span>
                    <div class="info">
                        <img src="{$vo.avatar}">
                        <em>{$vo.tel}</em>
                        <p>好友数:{$vo.count}</p>
                    </div>
                </td>
                <td class="reward">{$vo.sum}</td>
                <td class="rewards">{$vo.reward}</td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
<div class="box_warp hidden">
    <div class="box_info box-invite">
        <img src="/getqrcode?uid={$user.id}">
        <p>发送二维码给好友注册一起赚钱！</p>
        <ul>
            <li><button type="button" class="cc-btn" id="open">打开链接</button> </li>
            <li><button type="button" class="cc-btn red" id="copy" data-clipboard-action="copy" data-clipboard-text="{:sysconf('site_url')}/regs/{$user.id}">复制链接</button> </li>
        </ul>
    </div>
</div>
<div class="more_gn">—— 更多精彩，敬请期待！ ——</div>
<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script src="__STATIC__/lib/ydui/js/ydui.flexible.js"></script>
<script type="text/javascript" src="__STATIC__/lib/ydui/js/ydui.js"></script>
<script type="text/javascript" src="__STATIC__/home/js/clipboard.min.js"></script>
<script>
    $('.invite-btn').on('click',function () {
        event.stopPropagation();
        $('.box_warp').show();
    })
    $("body>*").click(function(event){
        var _con = $('.box_info');
        if(!_con.is(event.target) && _con.has(event.target).length === 0){
            $('.box_warp').hide();
        }
    });
    $('#open').on('click',function () {
        location.href = "{:sysconf('site_url')}/regs/{$user.id}";
    })
    var clipboard = new ClipboardJS('#copy');
    clipboard.on('success', function (e) {
        YDUI.dialog.toast("复制成功", "success", 1000);
    });
</script>
</body>
</html>