<include file="common/header"/>
<title>{:sysconf('site_title')}</title>
</head>
<body>
<div class="user-top">
    <header class="m-navbar no-bar">
        <a onclick="history.back(-1)" class="navbar-item">
            <i class="back-ico"></i>
        </a>
        <div class="navbar-center">
            <span class="navbar-title">{$title}</span>
        </div>
    </header>
    <div class="login-top">
        <img src="{:sysconf('site_logo')}">
    </div>
</div>
<div class="login-body">
    <div class="m-cell">
        <div class="cell-item">
            <div class="cell-left">手机号：</div>
            <div class="cell-right"><input id="tel" type="number" pattern="[0-9]*" class="cell-input" placeholder="请输入手机号" autocomplete="off" /></div>
        </div>
        <div class="cell-item">
            <div class="cell-left">密码：</div>
            <div class="cell-right">
              <input id="password" type="password" class="cell-input" placeholder="请输入密码" autocomplete="off" />
              <em><a href="/forpwd">忘记密码？</a></em>
          
          </div>
        </div>
        <label class="cell-item">
            <span class="cell-left">自动登陆</span>
            <label class="cell-right">
                <input type="checkbox" name="rempwd" checked/>
                <i class="cell-checkbox-icon"></i>
            </label>
        </label>
    </div>
    <button type="button" class="cc-btn red" id="login">登陆</button>
    <button type="button" id="reg" class="cc-btn link-red" style="margin-top:.3rem;">注册</button>
</div>
<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script src="__STATIC__/lib/ydui/js/ydui.flexible.js"></script>
<script type="text/javascript" src="__STATIC__/lib/ydui/js/ydui.js"></script>
<script>
    $(document).ready(function(){
        var storage=window.localStorage;
        var data=storage.getItem("login_data");
        var login_data=JSON.parse(data);
        if(data){
            login(login_data.tel,login_data.password,'rem')
        }
    });
    $('#reg').on('click',function () {
        location.href = "{:url('/reg')}";
    })
    $("#login").click(function(){
        var tel = $('#tel').val();
        var password = $('#password').val();
        var regedg = /^1[0-9]{10}$/;
        if(tel==""){
            YDUI.dialog.toast('请输入您的手机号码！', 'error', 1000);
            return;
        }
        if(!regedg.test(tel)){
            YDUI.dialog.toast('请输入正确的手机号码！', 'error', 1000);
            return;
        }
        if(password ==""){
            YDUI.dialog.toast('请输入密码！', 'error', 1000);
            return;
        }
        if (password.length > 16 || password.length < 6){
            YDUI.dialog.toast('请输入6-16位密码！', 'error', 1000);
            return; //密码太短或太长
        };
        login(tel,password,'login');
    })
    function login(tel,password,type) {
        YDUI.dialog.loading.open('提交中...');
        $.post("",{tel:tel,password:password},function(data){
            if(data.code ==0 && type =='login'){
                YDUI.dialog.loading.close();
                YDUI.dialog.toast('登陆成功！', 'success', 1000, function () {
                    if($("input[type='checkbox']").is(':checked')){
                        var storage=window.localStorage;
                        var login_data={
                            tel:tel,
                            password:password,
                        };
                        var login=JSON.stringify(login_data);
                        storage.setItem("login_data",login);
                    }
                    location.replace('/user');
                });
            }else if(data.code ==0 && type =='rem'){
                YDUI.dialog.loading.close();
                YDUI.dialog.toast('登陆成功！', 'success', 1000, function () {
                    location.replace('/user');
                });
            }else if(data.code ==2){
                YDUI.dialog.loading.close();
                YDUI.dialog.toast(data.msg, 'error', 1000, function () {
                    location.replace('/reg');
                });
            }else{
                YDUI.dialog.loading.close();
                YDUI.dialog.toast(data.msg, 'error', 800);
            }
        });
    }
</script>
</body>
</html>